@import url(http://fonts.googleapis.com/earlyaccess/khyay.css);

h4{
    font-size: 1.2rem;
}
.container {
    text-align: center;
    font-family: "Lusitana";
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 39px;
    color: rgba(0, 0, 0, 0.58);
    margin: 0;
    padding: 1rem;
    background-color: #e7f2eb !important;
    height: fit-content;
    max-width: 100%;
    
  }
  
  a {
      color: rgba(0, 0, 0, 0.58);
      text-decoration: none;
  } 
  /* hr {
      width: 95%;
      border: 1.25px solid rgba(0, 0, 0, 0.2);
  } */
  