li{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
li div{
    width: fit-content;
}

.history-table{
    border: solid 1px grey;
    margin: 0 auto;
}
.history-table td, th{
    padding: 10px 20px;
    border: solid 1px grey;
}

.table-container{
    margin: 10vh auto;
    min-height: 60vh;
    width:90%;
}
.table-scroll{
    overflow-x: auto;;
}
.table-container h2{
    color: grey
}   
.table-container h6{
    margin: 200px 200px 50px;
}