li{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
li div{
    width: fit-content;
}

.history-table{
    border: solid 1px grey;
}
.history-table td, th{
    padding: 10px 20px;
    /* min-width: 300px; */
    border: solid 1px grey;
}

.table-container{
    margin: 10vh auto;
    min-height: 60vh;
    width:fit-content;
    /* overflow-x: auto; */
}
.table-scroll{
    overflow-x: auto;;
}
.table-container h2{
    color: grey
}   