h2{
    color:rgb(48, 52, 52);
    margin-bottom:20px;
}
.home-page{
    margin-top: 50px;
    margin-bottom: 50px;
    min-height: 60vh;
}
.top-buttons{
    margin: 10px 10vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.top-buttons button {
    margin: 10px 30px;
}