

.navbar-right-items{
    width: fit-content;
    margin-left: auto ;
}
.navbar-right-items li{
    
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0);
    /* font-family: 'Cera Pro';
   font-style:normal; */
    font-weight: 500;
    
}

.navbar {
    padding: 0;
    margin: 0 2vw;
    height: 10vh;
}
.container-fluid {
    background-color: #F5FFF8;
    padding: 0;
}