@import url(http://fonts.googleapis.com/earlyaccess/khyay.css);

.navbar-right-items{
    width: fit-content;
    margin-left: auto ;
}
.navbar-brand{
    font-size: 1.8rem;
    font-weight: bold;
    color :#8dd4a3 !important;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0);
    /* font-family: 'Cera Pro';
   font-style:normal; */
    font-weight: 500;
    
}

.navbar {
    padding: 0;
    height: 10vh;
}
.container-fluid {
    background-color: #e7f2eb !important;
    padding: 10px 20px;
}